{% extends "base.html" %}

{% block additional_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/landing.js"></script>
{% endblock %}

{% block content %}
    <div class="exchanger shadow_block raised">
        <form class="raised_inner" method="post" action="{% url "converter_app.views.landing" %}">{% csrf_token %}
            <div class="from_currency">
                <div class="amount_wrapper control-group">
                    <input class="amount input-small" type="text" placeholder="Amount" name="amount"
                        value={% if amount %} {{ amount }} {% else %} "" {% endif %}>
                </div>
                {% include 'partials/currencies_dropdown.html' with name="from" selected_curr=curr_from %}
            </div>
            <div class="separator">convert to</div>
            <div class="to_currency">
                {% include 'partials/currencies_dropdown.html' with name="to" selected_curr=curr_to %}
            </div>
            <div>
                <button class="btn convert_btn" type="submit">Convert</button>
            </div>
        </form>
    </div>
    <div class="result">
        {% block conversion_result %}
        {% endblock %}
    </div>
{% endblock %}
